<div id="footer">
	<div class="page_top">
		<a href="#top"><img src="/images/icons/back.gif" alt="ページの先頭へ戻る"></a>
	</div>
	<div class="sitemap">
		<ul>
			<li>サイトマップ</li>
			<li>サイトマップ</li>
			<li>サイトマップ</li>
			<li>サイトマップ</li>
			<li>サイトマップ</li>
		</ul>
	</div>
	<div class="links">
		<ul>
		<li><a href="/main_contents/inquiry.html?SITE_ID=yyard">お問い合わせ</a></li>
		<li><a href="/main_contents/tokusyouhou.html?SITE_ID=yyard">特定商取引法に基づく表記</a></li>
		<li><a href="/main_contents/identification.html?SITE_ID=yyard">年齢確認に関して</a></li>
		<li><a href="/main_contents/privacy.html?SITE_ID=yyard">プライバシーステイトメント</a></li>
		<li><a href="/main_contents/terms_of_use.html?SITE_ID=yyard">ご利用規約</a></li>
		<li><a href="/main_contents/company_profile.html?SITE_ID=yyard">会社概要</a></li>
		</ul>
	</div>
	<div class="copyright">
		Copyright（c）2010-<%#= year %> All right reserved.</p>
	</div>
</div>