<div id="menu">
	<ul>
		<% unless logged_in? %>
			<li><%= link_to t('link.session.signin'), '/signin' %></li>
			<li><%= link_to t('link.session.signup'), '/signup' %></li>
		<% end %>
		<% if logged_in? %>
			<li><%= link_to t('activerecord.models.user'), edit_user_path(session[:user_id]) %></li>
			<li><%= link_to t('link.session.signout'), '/signout' %></li>
		<% end %>
	</ul>
</div >
<!-- end div#menu -->