<div id="sidebar">
	<div id="sidebar-bgtop">
		<div id="sidebar-bgbtm">
			<ul>
				<li id="search">
					<h2>Search</h2>
					this is dummy
					<% form_tag(:controller => "welcome", :method => "get") do %>
					  <%= label_tag :q, t('label.search_for') %>
            <%= text_field_tag :q, @keyword %>
            <%= submit_tag t('link.search') %>
          <% end %>
				</li>
				<li>
					<h2>Side Menu</h2>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end div#sidebar -->